<button (click)="onSave()" class="btn float-right add-button">
	Add Client <i class="fa fa-plus-circle"></i>
</button>
<div *ngIf="clients && clients.length > 0">
	<table class="table table-color format-table"
	[mfData]="clients | filterDataTable : filterInput"
	#mf="mfDataTable" [mfRowsOnPage]="5" style="table-layout:fixed;">
	<thead>
		<tr class="thead-inverse">
			<th><mfDefaultSorter by="name"> Name </mfDefaultSorter> </th>
			<th><mfDefaultSorter by="phone"> Phone </mfDefaultSorter> </th>
			<th><mfDefaultSorter by="married"> Married </mfDefaultSorter> </th>
			<th><mfDefaultSorter by="gender"> Gender </mfDefaultSorter> </th>
			<th><mfDefaultSorter by="age"> Age </mfDefaultSorter> </th>
			<th><mfDefaultSorter by="profession"> Profession </mfDefaultSorter> </th>
			<th> Operations </th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<input class="form-control" [(ngModel)]="filterInput" placeholder="Filter by name">
		</tr>
		<tr *ngFor="let client of mf.data">
			<td>{{ client.name }}</td>
			<td>{{ client.phone }}</td>
			<td>{{ client.married }}</td>
			<td>{{ client.gender }}</td>
			<td>{{ client.age }}</td>
			<td>{{ client.profession }}</td>
			<td>
				<i class="fa fa-edit icons icon-edit margin-right" (click)="onEdit(client)"></i>
				<i class="fa fa-remove icons icon-remove" (click)="confirm(client)"></i>
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td>
				<mfBootstrapPaginator></mfBootstrapPaginator>
			</td>
		</tr>
	</tfoot>
</table>
</div>
<div *ngIf="!clients || clients.length < 1">
	<table class="table table-color format-table">
		<thead>
			<tr class="thead-inverse">
				<th>Name</th>
				<th>Phone</th>
				<th>Married</th>
				<th>Gender</th>
				<th>Age</th>
				<th>Profession</th>
				<th>Operations</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>No display data </td>
			</tr>
		</tbody>
	</table>
</div>
