<nav class="navbar fixed-top navbar-light bg-faded">
  <div class="row">
    <p class="padding-left padding-top font-color"><strong>Test</strong>Application</p>
    <ul class="nav-ul padding-top">
      <li [routerLink]="['users']">Users</li>
      <li [routerLink]="['clients']">Clients</li>
    </ul>
  </div>
  <div class="user-profile-button">
    <div class="input-group">
      <button type="button" class="btn float-right button-user border-left opacity  div-user">Username</button>
      <button type="button" class="input-group-addon opacity div-user profile-user"><i class="fa fa-user" aria-hidden="true"></i></button>
   <!--  <span class="width-profile">username</span>
   <span><i class="fa fa-user"></i></span> -->
    </div>
  </div>
</nav>