<nav class="navbar fixed-top navbar-light bg-faded">
  <div class="row">
    <p class="padding-left padding-top font-color"><strong>Test</strong>Application</p>
    <ul class="nav-ul padding-top">
      <li>Users</li>
      <li>Clients</li>
    </ul>
  </div>
<!--   <button type="button" class="btn btn-primary float-right">
    <div class="row">
      <div>
        <span>User</span>
      </div>
      <div>
        <i class="fa fa-user icon-user"></i>
      </div>
    </div>
  </button> -->
</nav>