<button (click)="showConfirm()" class="btn float-right add-button">
	Add User <i class="fa fa-plus-circle"></i>
</button>
<div *ngIf="users && users.length > 0">
	<table class="table table-color format-table">
		<thead>
			<tr class="thead-inverse">
				<th>Username</th>
				<th>Password</th>
				<th>UserType</th>
				<th>Operations</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let user of users">
				<td>{{ user.username }}</td>
				<td>{{ user.password }}</td>
				<td>{{ user.user_type }}</td>
				<td><i class="fa fa-edit"></i> <i class="fa fa-remove"></i></td>
			</tr>
	</tbody>
</table>
</div>
<div *ngIf="!users || users.length < 1">
<table class="table table-color format-table">
	<thead>
		<tr class="thead-inverse">
			<th>Username</th>
			<th>Password</th>
			<th>UserType</th>
			<th>Operations</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>No display data </td>
		</tr>
	</tbody>
</table>
</div>