<button (click)="onSave()" class="btn float-right add-button">
	Add User <i class="fa fa-plus-circle"></i>
</button>
<div *ngIf="users && users.length > 0">
	<table class="table table-color format-table"
	[mfData]="users | filterDataTable : filterInput : 'users'"
	#mf="mfDataTable" [mfRowsOnPage]="5" style="table-layout:fixed;">
	<thead>
		<tr class="thead-inverse">
			<th>Image</th>
			<th><mfDefaultSorter by="username"> Username </mfDefaultSorter> </th>
			<th><mfDefaultSorter by="name"> Full Name </mfDefaultSorter> </th>
			<th><mfDefaultSorter by="userType"> UserType </mfDefaultSorter> </th>
			<th> Operations </th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<input class="form-control" [(ngModel)]="filterInput" placeholder="Filter by username">
		</tr>
		<tr *ngFor="let user of mf.data">
			<td><img id="image" class="img-fluid" src="http://localhost:3000/images/1506027985718.jpg"/></td>
			<td>{{ user.username }}</td>
			<td>{{ user.name }}</td>
			<td>{{ user.userType }}</td>
			<td>
				<i class="fa fa-edit icons icon-edit margin-right" (click)="onEdit(user)"></i>
				<i class="fa fa-remove icons icon-remove" (click)="confirm(user)"></i>
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td>
				<mfBootstrapPaginator></mfBootstrapPaginator>
			</td>
		</tr>
	</tfoot>
</table>
</div>
<div *ngIf="!users || users.length < 1">
	<table class="table table-color format-table">
		<thead>
			<tr class="thead-inverse">
				<th>Username</th>
				<th>UserType</th>
				<th>Operations</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>No display data </td>
			</tr>
		</tbody>
	</table>
</div>
