
<button (click)="onSave()" class="btn float-right add-button col-2">
	Add User <i class="fa fa-plus-circle"></i>
</button>
<input class="form-control col-10" [(ngModel)]="filterInput" placeholder="Filter by username">
<div *ngIf="users && users.length > 0">
	<table class="table table-color format-table"
	[mfData]="users | filterDataTable : filterInput : 'users'"
	#mf="mfDataTable" [mfRowsOnPage]="3" style="table-layout:fixed;">
	<thead>
		<tr class="thead-inverse">
			<th><mfDefaultSorter by="username"> Username </mfDefaultSorter> </th>
			<th><mfDefaultSorter by="name"> Full Name </mfDefaultSorter> </th>
			<th><mfDefaultSorter by="userType"> UserType </mfDefaultSorter> </th>
			<th> Operations </th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let user of mf.data">
			<td>
				<img *ngIf="user.image" class="img-fluid img-thumbnail img-format margin-right" [src]="user.image"/>
				<img *ngIf="!user.image " class="img-fluid img-thumbnail img-format margin-right" src="../../assets/img/user.png" />
				{{ user.username }}
			</td>
			<td><p class="padding-top-11">{{ user.name }}</p></td>
			<td><p class="padding-top-11">{{ user.userType }}</p></td>
			<td>
				<i class="fa fa-edit icons icon-edit margin-right margin-top-15" (click)="onEdit(user)"></i>
				<i class="fa fa-remove icons icon-remove margin-top-15" (click)="confirm(user)"></i>
			</td>
		</tr>
	</tbody>
	<mfBootstrapPaginator></mfBootstrapPaginator>
</table>
</div>
<div *ngIf="!users || users.length < 1">
	<table class="table table-color format-table">
		<thead>
			<tr class="thead-inverse">
				<th>Username</th>
				<th>UserType</th>
				<th>Operations</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>No display data </td>
			</tr>
		</tbody>
	</table>
</div>
