<div class="modal-dialog" tabindex="-1">
  <div class="modal-content">
   <div class="modal-header color-background-header header-height">
     <p class="modal-title font-grey-color"><strong class="font-red-color">Add</strong>User</p>
   </div>
   <div class="modal-body">
     <user-form></user-form>
   </div>
   <div class="modal-footer color-background-header">
     <button type="submit" class="btn hover-button font-color-button" (click)="confirm()">Save</button>
     <button type="button" class="btn background-color font-color-button hover-button" (click)="close()" >Cancel</button>
   </div>
 </div>
</div>