<div class="modal-dialog">
  <div class="modal-content">
   <div class="modal-header background-grey header-height border-bottom">
     <p class="modal-title color-white"><strong class="font-color">Add</strong>User</p>
   </div>
   <div class="modal-body">
     <user-form></user-form>
   </div>
   <div class="modal-footer border-top">
     <button type="button" class="btn hover-button font-color-button main-color-button margin-right" (click)="confirm()">Save</button>
     <button type="button" class="btn background-color font-color-button hover-button" (click)="close()" >Cancel</button>
   </div>
 </div>
</div>